.titre{
    text-align: center;
    color: darkturquoise;
    font-weight: bold;
    margin-top: 5%;
}
.prag{
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}

.cont-card{
    margin-top: 5%;
}
.text-card{
    margin: 0;
    color: #fff;   
}
.text-card h1{
font-size: 30px;
font-weight: bold;
}
.text-card h2{
    font-size: 20px;
}
.liste{
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
  
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}
.liste option{
    color: black;

}
.cont-titre1{
    margin-top: 5%;
}
.cont-temoi{
    background-image: url('images/sygnet.png');
    background-repeat: no-repeat;
    height: 570px;
    margin-top: 5%;
    background-color: #e5faf8;
}
.tt{
    color: darkturquoise;
    text-align: center;
    margin-top: 5%;
    font-size: 2.1428571429em;
    
}
.st{
    font-size: 15px;
    text-align: center;
    color:#747474;
    
}
.footer{
    text-align: center;
    margin-top: 10%;
    font-size: 12px;
    color: #ababab;
}
.logo{
    width: 268px;
    height: 33px;
}
.icone{
    display: block;
    margin: 0 auto;
}
.cont-titre1 h2{
color: #00b39b;
font-size: 30px;
}

.brand-text {
    font-size: 1.625em;
    color: #00b39b;
    line-height: 2.5rem;
  }
  
  .brand-links {
    padding-left: 6.5rem;
  }
  
  .brands-logos a path {
    fill: #ababab;
  }
  
  .brands-logos a img {
    filter: grayscale(100%);
  }
  
  .brands-logos a:hover path {
    fill: #00bfa5;
  }
  
  .brands-logos a:hover img {
    filter: grayscale(0%);
  }
  .p1{
      color: #00bfa5; 
  }